extends ../layouts/application.pug

block header
  = t('views.users.edit.edit')

block content
  +formFor()(action=route('updateUser', { id: +`${user.id}`}) method='post')
    input(type='hidden' name='_method' value='patch')
    +input(user, 'firstName', t('views.users.new.firstName'), errors)(type="text")
    +input(user, 'lastName', t('views.users.new.lastName'), errors)(type="text")
    +input(user, 'email', t('views.users.email'), errors)(type="text")
    +input(user, 'password', t('views.users.new.password'), errors)(type="password")
    +submit(user)(value=t('views.users.edit.submit'))