extends ../layouts/application.pug

block header
  = t('views.tasks.new.signUp')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', t('views.tasks.name'), errors)(type="text")
    +input(task, 'description', t('views.tasks.new.description'), errors)(type="textarea")
    +select(task, 'statusId', t('views.tasks.new.status'), errors,  statuses, 'status')
    +select(task, 'executorId', t('views.tasks.new.executor'), errors, users, 'users')
    +select(task, 'labels', t('views.tasks.new.labels'), errors, labels, 'labels')(multiple)
    +submit(task)(value=t('views.new'))
