extends ../layouts/application.pug

block header
  = t('views.tasks.new.signUp')

block content
  each status in statuses
    p=status.name
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', t('views.tasks.name'), errors)(type="text")
    +input(task, 'description', t('views.tasks.new.description'), errors)(type="textarea")
    +select(statuses, 'statusId', t('views.tasks.new.status'), errors)(type="textarea")
      each status in statuses
        option=`${status.name}` 
    //- +input(task, 'executor', t('views.tasks.new.executor'), errors)(type="text")
    +submit(task)(value=t('views.tasks.new.submit'))
